@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

section#first h1 {
	font-size: 55px;
	font-family: Roboto;
	margin-left: 12vh;
	margin-top: 13vh;
}

section#first h2 {
	font-size: 23px;
	margin-left: 12vh;
	margin-top: -4vh;
	font-weight: lighter;
}

section#first img {
	margin-left: 12vh;
	width: 800px;
    height: auto;
}

section#first h3 {
	font-size: 15px;
	width: 750px;
	color: dimgrey;
	margin-left: 12vh;
}

section#second h1 {
  font-size: 21px;
	width: 850px;
	margin-left: 12vh;
	margin-top: 10vh;
	font-weight: normal;
}

section#second h2 {
	font-size: 21px;
	width: 850px;
	margin-left: 12vh;
	margin-top: 8vh;
	font-weight: normal;
}

section#second img {
	margin-left: 10vh;
	margin-top: 10vh;
	width: 800px;
  height: auto;
}

section#third h1 {
	font-size: 20px;
	margin-left: 150vh;
	margin-top: -140vh;
}

section#fourth {
	width: 300px;
	margin-left: 140vh;
}

section#fifth {
	width: 300px;
	margin-left: 140vh;
}

section#sixth {
	width: 300px;
	margin-left: 140vh;
}

section#seventh {
	width: 300px;
	margin-left: 140vh;
}

section#eight {
	width: 300px;
}

section#nine img {
	width: 510px;
	height: 300px;
	margin-top: 140vh;
	margin-left: -110vh;
}

section#ten a {
	color: #36486b;
	font-size: 25px;
	font-weight: bolder;
	margin-left: -110vh;
	margin-bottom: 5px;
	display:inline-block;
	margin-top: 12px;
}


section#eleven a {
	color: grey;
	font-size: 15px;
	margin-left: -110vh;
	margin-bottom: -5vh;
	margin-top: 22vh;
	font-weight: bolder;
}

section#twelve h1 {
	height: 10px;
	width: 450px;
	font-weight: normal;
	font-size: 15px;
	margin-left: -110vh;
	margin-top: 2vh;
}

section#twelve img {
	margin-left: -20px;
	height: 300px;
	width: 420px;
}

section#thirteen h1 {
	font-size: 45px;
	font-weight: bolder;
	width: -100px;
	margin-left: -130vh;
	margin-top: -10vh;
}

section#thirteen h2 {
	font-size: 21px;
	width: 850px;
	margin-left: -130vh;
	margin-top: 8vh;
	font-weight: normal;
}

section#thirteen a {
	position: absolute;
	font-size: 21px;
	width: 850px;
	margin-left: -130vh;
	margin-top: -16.5vh;
	font-weight: normal;
	color: #000000;
}

section#thirteen h3 {
	font-size: 21px;
	width: 850px;
	margin-left: -130vh;
	margin-top: 8vh;
	font-weight: normal;
}

section#thirteen h4 {
	font-size: 21px;
	width: 850px;
	margin-left: -130vh;
	margin-top: 8vh;
	font-weight: normal;
}

section#thirteen img {
	margin-left: -130vh;
	margin-top: 10vh;
	width: 800px;
  height: auto;

}

section#fourteen h1 {
	font-size: 45px;
	font-weight: bolder;
	width: -100px;
	margin-left: -130vh;
	margin-top: 10vh;
}

section#fourteen img {
	margin-left: -900px;
	height: 500px;
}

section#fourteen h2 {
	font-size: 21px;
	width: 850px;
	margin-left: -130vh;
	margin-top: 8vh;
	font-weight: normal;
}

section#fifteen img {
	margin-left: -900px;
	height: 500px;
	margin-top: 2vh;
}

section#fifteen h1 {
	position: absolute;
	font-size: 21px;
	width: 850px;
	margin-left: -130vh;
	margin-top: 80vh;
	font-weight: normal;
}

section#sixteen img {
	margin-left: -900px;
	height: 500px;
	margin-top: 15vh;
}

section#sixteen h1 {
	position: absolute;
	font-size: 21px;
	width: 850px;
	margin-left: -130vh;
	margin-top: 8vh;
	font-weight: normal;
}

.icon-container img {
	margin-left: -900px;
	height: 100px;
	margin-top: 80vh;

}


section#seventeen a {
	position: absolute;
	font-size: 15px;
	margin-top: -55vh;
	margin-left: -130vh;
	font-weight: bolder;
	color: #1a1aff;

}

section#seventeen h1 {
	position: absolute;
	font-size: 15px;
	font-weight: normal;
	font-size: 14px;
	margin-left: -130vh;
	margin-top: -50vh;
	width: 800px;
}

.content {
	position: absolute;
	margin-left: -130vh;
	margin-top: -58vh;
	font-size: 13px;
}


