nav {
 
   bottom: 515px;
   background: #F7E0FF;
}

section#first .jumbotron {
   background-color: #F7E0FF;
}

 section#first .display-4 {
   margin-top: 5vh;
   color: mediumpurple;
   font-size: 32px;
   margin-left: 35px;

}

 section#first .lead {
   font-size: 50px;
   font-weight: bold;
   margin-left: 35px; 
   color: rebeccapurple;
 
}

 section#first p {
   width: 386px;
   height: 75px;
   font-size: 18px;
   margin-left: 35px;
   color: #000000;

}

 section#first img {
   margin-top: -40vh;
   width: 390px;
   height: 421px;
   margin-left: 850px;

}

section#first a {
  margin-left: 15vh !important;
  top: 10px !important;

}

section#second h1{
  font-size: 35px;
  color: rebeccapurple;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;

}
